<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Asema
        </title>
    </head>
    <body>
        {% include "junaApp/navigation.html" %}
        <form class="form" action='{% url "asema" %}' method="post">
            <br><br>
            <h2>Lisää asema</h2>
            {% csrf_token %}
            <input type="hidden" name="create" value="create">

            <span class="input-group-addon wide">nimi</span><br>
            <input type="text" name="nimi" value={{nimi}}><br>

            <span class="input-group-addon wide">kaupunki</span><br>
            <input type="text" name="kaupunki" value={{kaupunki}}><br>

            <span class="input-group-addon wide">pituus</span><br>
            <input type="text" name="pituus" value={{pituus}}><br>

            <span class="input-group-addon wide">leveys</span><br>
            <input type="text" name="leveys" value={{leveys}}><br>

            <button type="submit">Lisää</button>
        </form>
    <p id="messages">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </p>
    <br>

    <form class="form" action='{% url "asema" %}' method="post">
        <h2>Poista asema</h2>
        {% csrf_token %}
        <input type="hidden" name="delete" value="delete">
        <select name="asema" id="asema" class="form-control form-field">
            {% for asema in asemat %}
                <option value="{{ asema.nimi }}">{{ asema }}</option>
            {% endfor %}
        </select>
        <button type="submit">Poista</button>

    </form>
    </body>
</html>