<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% include "junaApp/navigation.html" %}
    <br>
    <br>

    <form name="junat">
        <p>Hae junia numeron perusteella. Tyhjä kenttä hakee kaikki tietokannan junat</p>
        <input type="text", size="10" id="hakusana">
        <input type="button" value="hae" onclick="hae()">
    </form>


    <script type="text/javascript">
        var junat = {{ junat|safe }};
        var pysahdykset = {{ pysahdykset|safe }};
        var elementit = [];
        function hae(){
            tyhjenna();
            var hakusana = document.getElementById('hakusana').value;
            if(hakusana){
                muodostaElementti(JStr(haeNumerolla(hakusana)));
            }else{
                for (juna of junat) {
                    muodostaElementti(JStr(juna), 70);
                    for(pysakki of haeJunanPysakit(juna)){
                        muodostaElementti(PStr(pysakki), 30);
                    }
                }
            }
        }

        function haeNumerolla(numero){
            for(juna of junat){
                if(juna.numero==numero){
                    return juna;
                }
            }
        }

        function haeJunanPysakit(juna){
            var pysakit = []
            var numero = juna.numero;
            for(pysakki of pysahdykset){
                if(numero == pysakki.junannumero){
                    pysakit.push(pysakki);
                }
            }
            return pysakit;
        }

        function muodostaElementti(teksti, koko){
            var field = document.createElement("INPUT");
            var att = document.createAttribute("type");
            att.value = "text";
            field.setAttributeNode(att);

            var att = document.createAttribute("readonly"); //vain luku
            att.value = "readonly";
            field.setAttributeNode(att);

            var att = document.createAttribute("size"); //koko
            att.value = koko;
            field.setAttributeNode(att);

            var att = document.createAttribute("value"); //arvo
            att.value = teksti;
            field.setAttributeNode(att);

            document.body.appendChild(field);
            elementit.push(field);

            var field = document.createElement("br"); //rivinvaihto
            document.body.appendChild(field);
            elementit.push(field);
        }

        function tyhjenna(){
            for(var x = 0; x < elementit.length; x++){
                elementit[x].parentNode.removeChild(elementit[x]);
            }
            elementit=[]
        }

        function JStr(juna){
            var mjono = juna.tyyppi + " juna numero " + juna.numero + " " + juna.lahtoasema + "-" + juna.paateasema;
            mjono = mjono + " (" + juna.lahtoaika + "-" + juna.saapumisaika + ") kulkee " + juna.kulkupaivat;
            return mjono;
        }

        function PStr(pysahdys){
            return pysahdys.asema + " " + pysahdys.saapumisaika + "-" + pysahdys.lahtoaika;

        }

    </script>
</body>
</html>