<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        {% include "junaApp/navigation.html" %}
        <br><br>
        <p id="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </p>
        <form enctype="multipart/form-data" method="post"> {% csrf_token %}
            <p>Anna csv-tiedosto, jossa on asemia, junia tai pysähdyksiä</p>
            <input type="file" id="file" name="file">
            <input type="submit" class="btn btn-default" value="Lähetä">
        </form>

    </body>
</html>